{% load staticfiles tz %}

  <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-social.css'%}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
  <link href="{% static 'css/animate.min.css'%}" rel="stylesheet">
  <link href="{% static 'css/prettyPhoto.css'%}" rel="stylesheet">
  <link href="{% static 'css/main.css'%}" rel="stylesheet">
  <link href="{% static 'css/responsive.css'%}" rel="stylesheet">
  <link href="{% static 'css/style.css'%}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Arimo|Josefin+Slab|Montserrat" rel="stylesheet">
  <link href="{% static 'fonts/Voga/style.css' %}" rel="stylesheet">
