{% extends "base.html" %}
{% block title %}Registration Successful{% endblock %}
{% block head %}
 Registration Completed Successfully
{% endblock %}
{% load staticfiles %}
{% block content %}
<section id="success-signup">
  <div class="container">
    <div class='row row-centered'>
      <div class="col-sm-6 col-centered" style="text-align:center;margin-top: 120px;">
        <i class="fa fa-check-circle fa-10x" style="color:#90278c;"></i>
        <p class='welcome' style="padding-top: 30px;">Cadastro realizado com sucesso! <a href="{%url 'indico:home' %}">Clique aqui</a> para acessar
          a nossa rede de confianca.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
